.container {
  display: grid;
  grid-template: '. content .';
  grid-template-columns: minmax(20px, auto) minmax(280px, 1290px) minmax(20px, auto);
  padding: 50px 0;
  div {
    grid-area: content;
    .result {
      font-size: 16px;
      padding-top: 40px;
    }
    .pagination {
      display: flex;
      flex: 1;
      justify-content: center;
      padding-top: 20px;
    }
  }
}